/*参考用的 css文件*/

/*参考用的盒子*/
#reference{
    /*大小*/
    width: 1595px;
    height: 444px;
    
    /*定位*/
    position: fixed;

    /*居中对齐*/
    left: 50%;
    margin-left: -797.5px;
    top: 200px;

    /*颜色*/
    background-color: transparent;
    opacity: 1;
}

/*参考用的背景图片*/
#referenceBackground{
    width: 1595px;
    height: 444px;
    background-image: url(../../../asset/reference/04\ 网页\ -英文.png);
    opacity: 0;
    position: absolute;
    left: 0px;
    top: 0px;
}

/*参考用的 APP图片*/
#referenceApp{
    width: 434px;
    height: 384px;
    background-image: url(../../../asset/reference/02\ 计时界面\ -1.png);
    opacity: 0;
    position: absolute;
    
    /*居中*/
    left: 50%;
    margin-left: -217px;
    top: 30px;
}